/* BEM - BLOCK ELEMENT MODIFIER */
/* USES A CLASS NAMING PATTERN */
/* RECOMMENDED TO USE BEM WITH A CSS PREPROCESSOR LIKE SASS OR LESS */

/* BLOCK FORM - REPRESENTS THE FORM ITSELF */
.form {
    margin: 40px;
}

/* ELEMENT - TWO UNDERSCORES "__", MODIFIERS USE "--" */
/* ELEMENT - .FORM__CONTROL - GROUP CONTAINING FORM ELEMENTS */
.form__control {
    margin-bottom: 16px;
    font-family: sans-serif;
}

/* ELEMENT - .FORM__SUBMIT - CONTAINS THE SUBMIT BUTTON */
.form__submit {
    cursor: pointer;
}

/* MODIFIER - .FORM__SUBMIT--SENDING - APPLIED TO THE BUTTON WHEN SUBMITTING */
.form__submit--sending {
    cursor: wait;
}
