/* BEM - BLOCK ELEMENT MODIFIER */
/* CONSISTE NA UTILIZAÇÃO DE UM PADRÃO DE CLASSES */
/* PARA FORMATAÇÃO DO HTML VIA CSS */
/* RECOMENDA-SE UTILIZAR O BEM JUNTAMENTE DE UM PRÉ-PROCESSADOR CSS */
/* COMO O SASS OU O LESS */
/* FORMATAÇÃO DO BLOCK */
/* BLOCO .FORM - CONSISTE EM SER O FORMULÁRIO EM SI */
.form {
    margin: 40px;
}
/* FORMATAÇÃO DO ELEMENT */
/* SE UTILIZA DOIS UNDERLINES "__" E, SE NECESSÁRIO, UM TRAÇO "-" PARA CRIAÇÃO */
/* DE CLASSES DE ELEMENTO EX.: __VIEW-MORE*/
/* ELEMENTO - .FORM__CONTROL - É O GRUPO QUE CONTÉM OS ELEMENTOS DO FORMULÁRIO */
.form__control {
    margin-bottom: 16px;
    font-family: sans-serif;
}
/* FORMATAÇÃO DO ELEMENT */
/* ELEMENTO - .FORM__SUBMIT - CONTÉM O BOTÃO DE ENVIAR O FORMULÁRIO */
.form__submit {
    cursor: pointer;
}
/* FORMATAÇÃO DO MODIFIER */
/* REPETE-SE OS TERMOS UTILIZADOS ANTERIORMENTE, BLOCK E ELEMENT, E ADICIONA-SE */
/* O MODIFICADOR COM DOIS TRAÇOS "--" */
/* MODIFICADOR - .FORM__SUBMIT--SENDING - CONTÉM O MODIFICADOR A SER APLICADO */
/* AO PRESSIONAR O BOTÃO DE ENVIAR O FORMULÁRIO  */
.form__submit--sending {
    cursor: wait;
}
