/* MODULES: INDEPENDENT OF THE LAYOUT THEY BELONG TO */
/* APPEARANCE SHOULD BE CONSISTENT */
/* REUSABLE COMPONENTS */

.title {
    font-size: 48px;
}

.message {
    /* TAKES 100% OF .CONTAINER - LAYOUT FUNCTION */
    padding: 8px;
    border: 1px solid #333;
    border-radius: 8px;
}

.message-title {
    font-size: 18px;
}

.message-content {
    font-size: 14px;
}

/* MODULES ALSO INCLUDE STATE CONCEPTS */
/* FOR EXAMPLE, A CLASS FOR ERROR MESSAGES */
/* SMACSS SUGGESTS USING THE PREFIX "IS" (IS = TRUE) */

.message-is-error {
    border-color: red;
    color: red;
    background-color: rgb(255, 226, 226);
}

.accordion {
    border: 1px solid black;
}

.accordion-header {
    padding: 8px;
    cursor: pointer;
}

.accordion-content {
    padding: 8px;
    border-top: 1px solid #eee;
    display: none;
}

.accordion-is-open .accordion-content {
    display: block;
}
